*{
  scroll-behavior: smooth;
}
:root{
    --maintheme-color:#F46C34;
    --secondtheme-color:#1c3c5a;
    --thirdtheme-color:#183c5c;
}
/* Lazy Loading  */
.lazyParent{
  height: 100vh !important;
  width: 100vw !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.loader {
 
  transform: translate(-50%,-50%);
    --dim: 3rem;
    width: var(--dim);
    height: var(--dim);
    position: relative;
    animation: spin988 2s linear infinite;
  }
  
  .loader .circle {
    --dim: 1.2rem;
    width: var(--dim);
    height: var(--dim);
    border-radius: 50%;
    position: absolute;
  }
  
  .loader .circle:nth-child(1) {
    background-color: var(--maintheme-color);
    top: 0;
    left: 0;
  }
  
  .loader .circle:nth-child(2) {
    top: 0;
    background-color: var(--maintheme-color);
    right: 0;
  }
  
  .loader .circle:nth-child(3) {
    background-color: var(--secondtheme-color);
    bottom: 0;
    left: 0;
  }
  
  .loader .circle:nth-child(4) {
    background-color: var(--secondtheme-color);
    bottom: 0;
    right: 0;
  }
  
  @keyframes spin988 {
    0% {
      transform: scale(1) rotate(0);
    }
  
    20%, 25% {
      transform: scale(1.3) rotate(90deg);
    }
  
    45%, 50% {
      transform: scale(1) rotate(180deg);
    }
  
    70%, 75% {
      transform: scale(1.3) rotate(270deg);
    }
  
    95%, 100% {
      transform: scale(1) rotate(360deg);
    }
  }

/* scrollbar  */
body::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: #F5F5F5;
}
 
*::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}
 
body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: var(--secondtheme-color);
}
